**/*.o
**/*.lo
**/*.a
**/.**/*.o
Makefile
**/Makefile
autom4te.cache/output.1
autom4te.cache/traces.0
autom4te.cache/traces.1
lib/libhdformats.la
lib/libhdnetwork.la
lib/libhdpipeline.la
Applications/.deps/heimdall.Po
Applications/candidate_profiler
Applications/coincidencer
Applications/coincidencer_client
Applications/fil2pgm
Applications/generate_dmlist
Applications/heimdall
Formats/libhdformats.la
Formats/libhdnetwork.la
Formats/.libs/libhdnetwork.lai
Network/.libs/libhdformats.lai
Pipeline/.libs/libhdpipeline.lai
bin/
config.status
libtool

